.Cockpit {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.CockpitHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  height: 10vh;
  background-color: rgb(219, 219, 219);
}

.CockpitBody {
  margin: auto;
}

.CockpitHeader button {
  border: 3px solid hotpink;
  padding: 16px 8px;
  margin: 0 16px;
}

.CockpitHeader button:hover {
  border: 3px solid limegreen;
}
.Red {
  color: red;
}

.Bold {
  font-weight: bold;
}

.Cockpit button {
  border: 1px solid #bbb;
}
